
			<ul class="nav nav-tabs padded-nw">
				<li class="active"><a data-toggle="tab" href="#invoice-basic">{{ _("basic")|capitalize }}</a></li>
			</ul>
			<div class="tab-content">
				{# BASIC #}
				<div class="tab-pane fade in active" id="invoice-basic">
					<div class="control-group">
						<label class="control-label" for="relation">{{ _("relation")|capitalize }}</label>
						<div class="controls">
							<select name="relation">
								{% for relation in relations %}
								<option value="{{ relation.id }}"{% if relation and relation.id == invoice.relation %} selected{% endif %}>{{ relation.name }}</option>
								{% endfor %}
							</select>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="outgoing">{{ _("invoice direction")|capitalize }}</label>
						<div class="controls" data-toggle="buttons-radio">
							<label class="radio">
								<input type="radio" id="incoming" name="outgoing" value="0" {% if invoice and not invoice.outgoing %}checked{% endif %} /> {{ _("incoming invoice")|capitalize }}
							</label>
							<label class="radio">
								<input type="radio" id="outgoing" name="outgoing" value="1" {% if (not relation) or (invoice and invoice.outgoing) %}checked{% endif %} /> {{ _("outgoing invoice")|capitalize }}
							</label>
						</div>
					</div>
				</div>
			</div>