<table class="table table-striped table-condensed">
	<tr>
		<th>{{ _("product")|capitalize }}</th>
		<td>{{ product.name }}</td>
	</tr>
	<tr>
		<th>{{ _("description")|capitalize }}</th>
		<td>{{ product.description }}</td>
	</tr>
	<tr>
		<th>{{ _("category")|capitalize }}</th>
		<td>{{ product.categoryname }}</td>
	</tr>
	<tr>
		<th>{{ _("billing")|capitalize }}</th>
		<td>{{ _("every") }} {{ product.billing }}</td>
	</tr>
</table>