{% include "header" %}
{% include "cp-submenu" %}

{% include "cp-core-routes-modal" %}

<div class="row marged-ns">
	<div class="span3 box-modal">
		<div class="modal-header">
			<h3>{{ _("How routes work")|capitalize }}</h3>
		</div>
		<div class="modal-body">
			{{ _("Routes tell the system to watch the requested URL for any matches and once found show the entered module and function. For example: the route <code>/info</code> will match any request to <code>domain.com/info</code> but also any deeper request like <code>domain.com/info/about+us</code> and request the module to load with the set function.")|raw }}
		</div>
	</div>
	<div class="span9 box-modal">
		<div class="modal-header">
			<h2>{{ _("routes")|capitalize }}</h2>
		</div>
		<div class="modal-body">
			<table class="table table-bordered table-striped">
				<tr>
					<th>{{ _("route") }}</th>
					<th>{{ _("module") }}</th>
					<th>{{ _("function") }}</th>
					<th></th>
				</tr>
				{% for route in routes %}
				<tr>
					<td class="route"><code>{{ route.route }}</code></td>
					<td class="module" 
						data-popover-placement="top" 
						data-content="{{ modules[route.module].summary|raw }}" 
						data-original-title="{{ modules[route.module].name }}" 
					><code>{{ route.module }}</code></td>
					<td class="function"><code>{{ route.function }}</code></td>
					<td>
						<a class="btn btn-info btn-small route-edit"><i class="icon-edit"></i></a>
						<form method="POST" style="margin: 0; display: inline;">
							<button class="btn btn-danger btn-small route-del"><i class="icon-remove-sign"></i></button>
							<input type="hidden" name="del-route" value="{{ route.route }}" />
						</form>
					</td>
				</tr>
				{% endfor %}
			</table>
		</div>
		<div class="modal-footer">
			<a class="btn" data-toggle="modal" href="#add-route">{{ _("add route") }}</a>
		</div>
	</div>
</div>

{% include "footer" %}