{% include "header" %}
{% include "cp-submenu" %}

{% include "cp-core-routes-modal" %}

<div class="row marged-ns">
	<div class="span3 box-modal">
		<div class="modal-header">
			<h3>{{ _("How routes work")|capitalize }}</h3>
		</div>
		<div class="modal-body">
			{{ _("Routes tell the system to watch the requested URL for any matches and once found show the entered module and function. For example: the route <code>/info</code> will match any request to <code>domain.com/info</code> but also any deeper request like <code>domain.com/info/about+us</code> and request the module to load with the set function.")|raw }}
		</div>
	</div>
	<div class="span9 box-modal">
		<div class="modal-header">
			<h2>{{ _("routes")|capitalize }}</h2>
		</div>
		<div class="modal-body">
			<script type="text/javascript">
				jQuery(function() {
					jQuery( ".route-edit").click(function() {
						jQuery( this ).closest( "tr" ).children( "td[class]" ).each( function( i , elm ) {
							var inputname	= jQuery(this).attr("class");
							var inputvalue	= jQuery(this).find("code").html();
							if( inputname == "module" ) {
								jQuery( "#add-route form" ).find( "select[name=" + inputname + "] option[value!=" + inputvalue + "]").removeAttr( "selected" );
								jQuery( "#add-route form" ).find( "select[name=" + inputname + "] option[value=" + inputvalue + "]").attr( "selected" , true );
							} else {
								jQuery( "#add-route form" ).find( "input[name=" + inputname + "]" ).attr( "value" , inputvalue );
							}
						});
						jQuery( "#add-route" ).modal( "show" );
					});
				});
			</script>
			<table class="table table-bordered table-striped">
				<tr>
					<th>{{ _("route") }}</th>
					<th>{{ _("module") }}</th>
					<th>{{ _("function") }}</th>
					<th></th>
				</tr>
				{% for route in routes %}
				<tr>
					<td class="route"><code>{{ route.route }}</code></td>
					<td class="module"><code>{{ route.module }}</code></td>
					<td class="function"><code>{{ route.function }}</code></td>
					<td class="btn-group">
						<a class="btn btn-small"><i class="icon-remove-sign"></i></a>
						<a class="btn btn-small route-edit"><i class="icon-edit"></i></a>
					</td>
				</tr>
				{% endfor %}
			</table>
		</div>
		<div class="modal-footer">
			<a class="btn" data-toggle="modal" href="#add-route">{{ _("add route") }}</a>
		</div>
	</div>
</div>

{% include "footer" %}