<!DOCTYPE html> 
<html lang="{% if meta.i18n.iso %}{{ meta.i18n.iso }}{% else %}en{% endif %}"> 
  <head> 
	<meta charset="utf-8">
    <title>{% if dom.title %}{{ dom.title }}{% elseif ms %}{{ ms.domain }}{% endif %}</title> 
	{% for meta, metafield in dom.meta %}
		{% for field, value in metafield %}
		<meta {{ meta }}="{{ field }}" content="{{ value }}" />
		{% endfor %}
	{% endfor %}{% for css in dom.css %}
		<link href="{{ css }}" rel="stylesheet">
	{% endfor %}
	{% for js in dom.js %}
		<script src="{{ js }}"></script>
    	{% endfor %}
	{% if dom.wysiwyg %}
		<script type="text/javascript">
			var Aloha		= {};
			Aloha.settings 		= {
				jQuery: 		jQuery,
				locale:			'{% if meta.i18n.iso %}{{ meta.i18n.iso }}{% else %}en{% endif %}',
				floatingmenu:	{
					width: 		'940',
					behaviour:		'topalign',
					marginTop:		0,
					horizontalOffset:	'auto'
				},
				sidebar:		{ disabled: true },
				plugins:		{
					format:	{
						editables: {
							"h1"	: []
						}
					},
					list:	{
						editables: {
							"h1"	: []
						}
					}
				}
			}
		</script>
		<script type="text/javascript" src="/js/libs/aloha/src/lib/aloha.js" data-aloha-plugins="common/format,
			common/list,common/table,common/link,common/block,common/undo,common/paste,common/commands,common/abbr,
			common/image,
			extra/flag-icons,extra/draganddropfiles"></script>
		<link rel="stylesheet" href="/js/libs/aloha/src/css/aloha.css" id="aloha-style-include" type="text/css">
	{% endif %}
  </head> 
 
<body>

<div class="container">
	<div class="navbar navbar-fixed-top header-cs">
		<div class="container">
			<div class="brand"><a href="/">{{ ms.domain|capitalize }}</a></div>
			<div class="btn-toolbar">
				<div class="btn-group">
					<a class="btn" href="/"><i class="icon-home"></i> {{ _("Home") }}</a>
				</div>
				<div class="btn-group">
					{% set urldiscover = "/discover/" %}
					<a class="btn{% if urldiscover == dom.show_uri %} disabled{% endif %}" href="{{ urldiscover }}"><i class="icon-eye-open"></i> {{ _("Discover") }}</a>
					{% set urldiscoverproducts = "/discover/our-products/" %}
					<a class="btn btn-info btn-small{% if urldiscoverproducts == dom.show_uri %} disabled{% endif %}" href="{{ urldiscoverproducts }}">{{ _("our products") }} <i class="icon-gift"></i></a>
					{% set urldiscoverus = "/discover/who-we-are/" %}
					<a class="btn btn-info btn-small{% if urldiscoverus == dom.show_uri %} disabled{% endif %}" href="{{ urldiscoverus }}">{{ _("who we are") }} <i class="icon-road"></i></a>
				</div>
				<div class="btn-group right">
					{% if visitor.user %}
						<a class="btn btn-small" href="/login/?logout-user"><i class="icon-lock"></i> {{ _("Log Out") }} {{ visitor.user.realname }}</a>
					{% else %}
						<a class="btn btn-small disabled" href="/login/"><i class="icon-user"></i> {{ _("Sign Up") }}</a>
						<a class="btn btn-small" href="/login/"><i class="icon-lock"></i> {{ _("Log In") }}</a>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
{#	<div id="notify-placeholder" class="hidden alert-message block-message fade in">
		<a class="close">×</a>
		<h3></h3>
		<p>
					
		</p>
	</div> #}