<!DOCTYPE html> 
<html lang="{% if meta.i18n.iso %}{{ meta.i18n.iso }}{% else %}en{% endif %}"> 
  <head> 
	<meta charset="utf-8">
    <title>{% if dom.title %}{{ dom.title }}{% elseif ms %}{{ ms.domain }}{% endif %}</title> 
	{% for meta, metafield in dom.meta %}
		{% for field, value in metafield %}
		<meta {{ meta }}="{{ field }}" content="{{ value }}" />
		{% endfor %}
	{% endfor %}{% for css in dom.css %}
		<link href="{{ css }}" rel="stylesheet">
	{% endfor %}
	{% for js in dom.js %}
	<script src="{{ js }}"></script>
    {% endfor %}
	{% if dom.wysiwyg %}
		<script type="text/javascript">
			var Aloha	= {};
			Aloha.settings = {
				jQuery: jQuery
			}
		</script>
		<script type="text/javascript" src="/js/libs/aloha/src/lib/aloha.js" data-aloha-plugins="common/format,common/list,common/table"></script>
		<link rel="stylesheet" href="/js/libs/aloha/src/css/aloha.css" id="aloha-style-include" type="text/css">
	{% endif %}
  </head> 
 
<body>

<div class="container">
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="brand" href="http://{{ ms.domain }}">{{ ms.domain }}</a>
				<ul class="nav">
					<li class="active"><a href="http://{{ ms.domain }}">Home</a></li>
				</ul>
			</div>
		</div>
	</div>
{#	<div id="notify-placeholder" class="hidden alert-message block-message fade in">
		<a class="close">×</a>
		<h3></h3>
		<p>
					
		</p>
	</div> #}