<!DOCTYPE html> 
<html lang="{% if meta.i18n.iso %}{{ meta.i18n.iso }}{% else %}en{% endif %}"> 
  <head> 
    <meta charset="utf-8"> 
    <title>{% if title %}{{ title }}{% elseif ms %}{{ ms.domain }}{% endif %}</title> 
    {% for meta, metafield in dom.meta %}
	{% for field, value in metafield %}
	<meta {{ meta }}="{{ field }}" content="{{ value }}" />
	{% endfor %}
    {% endfor %}{% for css in dom.css %}
	<link href="{{ css }}" rel="stylesheet">
    {% endfor %}{% for js in dom.js %}
	<script src="{{ js }}"></script>
    {% endfor %}

  </head> 
 
<body>

<div class="container">
	<div class="topbar">
		<div class="fill">
			<div class="container">
				<a class="brand" href="http://{{ ms.domain }}">{{ ms.domain }}</a>
				<ul class="nav">
					<li class="active"><a href="http://{{ ms.domain }}">Home</a></li>
					<li>
						<a class="menu" href="#">Platforms</a>
{#						<ul>
							<li><a href="#">Linux</a></li>
							<li><a href="#">Windows</a></li>
							<li class="divider"></li>
							<li><a href="#">Custom</a></li>
						</ul> #}
					</li>
					<li data-dropdown="dropdown">
						<a class="menu" href="#">Applications</a>
{#						<ul>
							<li><a href="#">CMS's</a></li>
							<li><a href="#">Blogs</a></li>
							<li><a href="#">Shops</a></li>
							<li><a href="#">CRM's</a></li>
							<li><a href="#">ELO's</a></li>
						</ul>#}
					</li>
				</ul>
				<ul class="nav secondary-nav">
					<li data-dropdown="dropdown">
						<a class="menu" href="#">Help</a>
{#						<ul>
							<li><a href="#"></a></li>
						</ul>#}
					</li>
				</ul>
			</div>
		</div>
	</div>