<!DOCTYPE html> 
<html lang="{% if meta.i18n.iso %}{{ meta.i18n.iso }}{% else %}en{% endif %}"> 
  <head> 
	<meta charset="utf-8">
    <title>{% if dom.title %}{{ dom.title }}{% elseif ms %}{{ ms.domain }}{% endif %}</title> 
	{% for meta, metafield in dom.meta %}
		{% for field, value in metafield %}
		<meta {{ meta }}="{{ field }}" content="{{ value }}" />
		{% endfor %}
	{% endfor %}{% for css in dom.css %}
		<link href="{{ css }}" rel="stylesheet">
	{% endfor %}
	{% for js in dom.js %}
		<script src="{{ js }}"></script>
    {% endfor %}
	{% include "header.wysiwyg" %}
  </head> 
 
<body>
<a href="https://github.com/Luceos/HYN-CMS"><img style="position: absolute; top: 0; right: 0; z-index: 1200;" src="/images/fork.png" /></a>
<div class="container">
	<div class="navbar navbar-fixed-top header-cs">
		<div class="container">
			<div class="brand">{#<a href="/"><img src="/images/x35/hyn-logo.png" />#}</a></div>
			<div class="btn-toolbar">
				<div class="btn-group">
					<a class="btn{% if dom.show_uri == "/" or dom.show_uri == "" %} active{% endif %}" href="/"><i class="icon-home"></i> {{ _("Home") }}</a>
				</div>
				<div class="btn-group">
					<div class="btn disabled">{{ _("discover")|capitalize }}</div>
					{% set urlmodules = "/about/modules/" %}
					<a class="btn btn-info{% if urlmodules == dom.show_uri %} active{% endif %}" href="{{ urlmodules }}"><i class="icon-eye-open"></i> {{ _("modules")|capitalize }}</a>
				</div>
{#				<div class="btn-group">
					{% set urldiscover = "/discover/" %}
					<a class="btn btn-info{% if urldiscover == dom.show_uri %} active{% endif %}" href="{{ urldiscover }}"><i class="icon-eye-open"></i> {{ _("Discover") }} &raquo;</a>
					{% set urldiscoverproduct = "/discover/the-cms/" %}
					<a class="btn btn-info btn-small{% if urldiscoverproduct == dom.show_uri %} active{% endif %}" href="{{ urldiscoverproduct }}">{{ _("the CMS") }} <i class="icon-gift"></i></a>
					{% set urldiscoverus = "/discover/who-we-are/" %}
					<a class="btn btn-info btn-small{% if urldiscoverus == dom.show_uri %} active{% endif %}" href="{{ urldiscoverus }}">{{ _("who we are") }} <i class="icon-road"></i></a>
				</div>#}
				<div class="btn-group right">
					{% if visitor.user %}
						<span class="btn btn-small disabled">{{ visitor.user.realname }}</span>
						<a class="btn btn-small" href="{{ _routes.cp }}"><i class="icon-cog"></i> {{ _("admin")|capitalize }}</a>
						<a class="btn btn-small" href="/login/?logout-user"><i class="icon-lock"></i> {{ _("log off")|capitalize }}</a>
					{% else %}
						{% set urllogin = "/login/" %}
						<a class="btn btn-small{% if urllogin == dom.show_uri %} active{% endif %}" href="{{ urllogin }}"><i class="icon-user"></i> {{ _("Sign Up") }}</a>
						<a class="btn btn-small{% if urllogin == dom.show_uri %} active{% endif %}" href="{{ urllogin }}"><i class="icon-lock"></i> {{ _("Log In") }}</a>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
{#	<div id="notify-placeholder" class="hidden alert-message block-message fade in">
		<a class="close">×</a>
		<h3></h3>
		<p>
					
		</p>
	</div> #}
